*{
  box-sizing: border-box;
}
body{
  text-align: center;
  background-color: #a6a6a6;
  font-size: 18px;
}
h2{
  margin-right:450px ;
  color: green;
}

.container{
  width: 50%;
  display: inline-block;
}
.form-input{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
}
label{
  margin-right:600px;
}
.form-check{
  margin-right:610px;
}
button{
  float: left;
  padding: 10px 100px;
  border-radius:10px;
  cursor: pointer;
  background-color: green;
  color: #fff;
}
span{
  width:200px;
}
input{
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid gray;
}